#navbar-items {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 0.5rem;
  align-items: center;
  margin: -10px;
  margin-bottom: 15px;
  

}

.fixed-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.fixed-link:hover{
  color: skyblue;
}

#home-btn {
  margin-left: auto;
}

#contact-btn{
  margin-right: auto;
}

.empty-space{
  width: 25%;
}

.center{
  text-align: center;
}

#home-wrapper{
  margin: 3%;
}

#nemer-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.too-big {
  max-width: 30%;
  max-height: 10%;
}

#img-wrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#switzerland{
  transition: transform .2s;
}

#boba {
  transition: transform .2s;
}

#table-tennis{
  transition: transform .2s;
}

#switzerland:hover {
  transform: scale(1.5);
}

#table-tennis:hover{
  transform: scale(1.5);
}

#boba:hover{
  transform: scale(1.5);
}

